.contentIngredient{
    background:#e9e9e9;
    width: 30rem;
    max-height: 17rem;
    padding: 1rem;
    border-radius: 20px;
    overflow-y: scroll;
    margin-right: 5rem;
}

.ingredientRecipe{
    display: flex;
    justify-content: space-between;
}

.oneIngredient{
    background: #d6d6d6;
    min-width: 18rem;
    margin-right: 0.1rem;
    padding: 0.5rem;
    border-radius:20px;
    font-size: 0.8rem;
}

.contentAllIngredients{
    display: flex;
}

.measure{
    background: #d6d6d6;
    min-width: 2rem;
    padding: 0.5rem;
    border-radius:20px;
    font-size: 0.8rem;
    margin-right:1rem;
}

